/* css/see_my_work.css */

.seemywork-img {
    height: auto;
    max-height: 450px;
    object-fit: contain; 
}


.iframe-container {
    width: 100%; /* Or your desired width */
    height: 450px; /* Set a fixed height for the container */
    overflow: hidden; /* Hides any content that overflows the container */
}

iframe {
    width: 100%; /* Iframe needs a default size to be scaled */
    height: 200%;
    border: none;
    transform: scale(0.5); 
}
.btn-link {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background-color: #0d9488;
    color: #ffffff;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 9999px;
    transition: background-color 0.3s ease;
}

.btn-link:hover {
    background-color: #0f766e;
}