{% extends "index/index.html" %}
{% load static %}

{% comment %} css {% endcomment %}
{% block css %}
    <link rel="stylesheet" href="{% static "css/see_my_work.css" %}">
{% endblock %}

{% block content %}

    <div class="project-card rounded-3xl flex flex-col">
        
        <div class="p-6 flex items-center justify-center">
            <img src="{{ Data.work.Work_Image }}" alt="My work image" class="seemywork-img rounded-xl w-full">
        </div>

        <div class="p-6 flex flex-col justify-center">
            <h4 class="text-3xl md:text-4xl font-extrabold text-white mb-4">{{ Data.work.title }}</h4>

            <div class="work-info-list space-y-6 text-gray-300">
                <p><strong>Description:</strong> {{ Data.description }}</p>
                
                <div class="flex flex-wrap items-center gap-4">
                    <p class="font-bold text-white">Links:</p>
                    <a href="{{ Data.github_link }}" target="_blank" class="btn-link">
                        <i class="fa fa-github text-xl"></i> <span>GitHub</span>
                    </a>
                    {% if Data.website_link == "https://NULL.com" %}
                        <p class="text-red-400 font-semibold text-center">Website Not Available</p>
                    {% else %}
                        <a href="{{ Data.website_link }}" target="_blank" class="btn-link">
                            <i class="fa fa-external-link text-xl"></i> <span>Website</span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% comment %} Java script {% endcomment %}
{% block js %}
    <script src="{% static "js/see_my_work.js" %}"></script>
{% endblock %}